<div class="position-relative top-50 translate-middle-y">

  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isValid === false">
    Wrong username or password
    <button type="button" class="btn-close" (click)="isValid = undefined"></button>
  </div>

  <div class="alert alert-success alert-dismissible fade show" role="alert"  *ngIf="isValid === true">
    Login successfully! <br/>
  </div>

  <form class="row g-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="col-12">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="col-12">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password">
    </div>
  
    <div class="col-12">
      No account? <a routerLink="/auth/register">Register</a>
    </div>
  
    <div class="d-grid gap-1 d-md-flex justify-content-md-end">
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid || isLoading">Login</button>
    </div>
  </form>
</div>