.card-img-top {
    height: 300px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.pro-img {
    margin-top: -100px;
    margin-bottom: 20px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 100px;
}

.little-profile .pro-img img {
    width: 128px;
    height: 128px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%
}

.m-t-20 {
    margin-top: 20px
}

.text-center {
    text-align: center !important
}