
<div class="row col-12 overflow-hidden border-top g-0">
    <!-- Users box-->
    <div class="col-sm-4 px-0 border border-top-0">
      <div class="bg-white">

        <div class="messages-box">
          <div class="list-group rounded-0 border-end-0">
            <button class="btn btn-outline-primary rounded-0 shadow-none border-start-0 border-end-0" data-bs-toggle="modal" data-bs-target="#contactSelector">
                {{ 'PAGES.MESSAGES.NEW_CONVERSATION' | translate }} <i class="bi bi-plus-circle"></i>
            </button>

            <div class="list-group-item list-group-item-action border-end-0 border-top-0 p-0" 
                    ngClass="selectedUser === user ? 'active'" 
                    style="cursor: pointer;"
                    *ngFor="let chat of chats">
                <div class="d-flex align-items-center">
                    <div class="p-3 flex-fill" [routerLink]="['/pages/messages', chat?.chatId]">
                        {{chat?.chatName}}
                    </div>
                    <div class="dropdown">
                        <button class="btn p-3 shadow-none flex-fill" id="dropdownChat" data-bs-toggle="dropdown" aria-expanded="false">        
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownChat">
                            <li><a class="dropdown-item" (click)="DeleteChat(chat.chatId)"><i class="bi bi-trash"></i> Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Chat Box-->
    <div class="col-sm-8 px-0">

        <div class="text-center" style="height: 407px" *ngIf="selectedChat === undefined">
           {{'PAGES.MESSAGES.SELECT_TO_CHAT' | translate}}
        </div>

        <h5 class="p-3 border-bottom my-0">{{selectedChat?.chatName}}</h5>
        <div class="px-4 bg-white overflow-auto" id="chatMessages" style="height: 500px;" *ngIf="selectedChat !== undefined">

            <!-- Message-->
            <div *ngFor="let message of messages"
                [ngClass]="user.userId === message.userId ? 'offset-sm-6 col-sm-6 offset-2 col-10 text-end' : 'col-sm-6 col-10'">
                <div *ngIf="message !== ''">
                    <div class="rounded py-2 px-3 mb-2 mt-2 text-small text-white text-break" 
                        [ngClass]="user.userId === message.userId ? 'bg-primary ' : 'bg-secondary'">
                        {{message.message}}
                    </div>
                    <p class="small text-muted">{{ message.createdAt / 10000 | date:'HH:mm | d MMM'}}</p>
                </div>
            </div>

            <!-- Sender Message-->
            <!-- <div class="offset-sm-6 col-sm-6 offset-2 col-10 text-end">
            <div class="media-body">
                <div class="bg-primary rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 text-white">Test which is a new approach to have all solutions</p>
                </div>
                <p class="small text-muted">12:00 PM | Aug 13</p>
            </div>
            </div> -->

        </div>

        <!-- Typing area -->
        <form [formGroup]="messageForm" (ngSubmit)="SendMessage()">
            <div class="input-group border-top">
            <input maxlength="255" 
                    (change)="OnMessageChange($event)"
                    (keyup)="OnMessageChange($event)"
                    type="text" 
                    placeholder="{{'PAGES.MESSAGES.TYPE_MESSAGE' | translate}}" 
                    class="form-control rounded-0 border-0 shadow-none px-4" 
                    formControlName="message">
            <div class="p-1 d-flex">
                <div class="align-middle p-2 fw-light">{{messageLength}}</div>
                <button type="submit" class="btn btn-outline-primary m-1" [disabled]="!messageForm.valid || selectedChat === undefined"> <i class="bi bi-send"></i></button>
            </div>
            </div>
        </form>

    </div>
</div>

<!-- Select Contact Modal -->
<div class="modal fade" id="contactSelector" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="contactSelectorLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contactSelectorLabel">{{'PAGES.MESSAGES.CONTACTS' | translate}}</h5>
        </div>
        <form [formGroup]="contactForm" (ngSubmit)="AddChat()">
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let contact of contacts">
                        <div class="form-check">
                            <input class="form-check-input me-1" name="contactRadio" type="radio" value="{{contact?.userId}}" formControlName="contact">
                            {{contact.name}} {{contact.surname}}     
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn" data-bs-dismiss="modal" (click)="CloseContactSelectorModal()">{{'PAGES.MESSAGES.CLOSE' | translate}}</button>
            <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid" data-bs-dismiss="modal">{{'PAGES.MESSAGES.CHAT' | translate}}</button>
            </div>
        </form>
      </div>
    </div>
</div>