<div class="bg-auth">  
  <div class="bg-light content-auth position-absolute start-50 translate-middle-x">
    <div style="height: 30%;">
      <div class="d-flex flex-wrap align-items-end justify-content-center align-content-center h-100">
        <div routerLink="/pages/home" style="cursor: pointer; display: contents;">
          <h3 class="text-primary">Lavoro.</h3>     
          <img src="./../../../assets/img/logo.svg" height="52px"/>      
        </div>
      </div>  
    </div>

    <div style="height: 70%;">
      <router-outlet class="position-relative translate-middle-y"></router-outlet>

    </div>
  </div>
</div>